{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "@typescript-eslint/consistent-type-imports": "error",
      "indent": ["error", 2],
      "linebreak-style": ["error", "unix"],
      "quotes": ["error", "single"],
      "semi": ["error", "always"],
      "no-console": "warn",
      "@typescript-eslint/no-unused-vars": "warn",
      "no-const-assign": "error",
      "@typescript-eslint/no-var-requires": "off",
      "no-case-declarations": "off"
    }
  }
  